<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Admin page" />
  <meta name="author" content="Ivan Chamero and Manuel Angel Roman Ramos"/>
  <link href="/static/css/bootstrap.css" rel="stylesheet" />
  <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="/static/css/prettyPhoto.css" rel="stylesheet" />
  <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
  <div id="wrapper">
    <header>
      <div class="top">
        <div class="container">
        </div>
      </div>
      <div class="container">
        <div class="row nomargin">
          <div class="span4">
            <div class="logo">
              <h1><a href="#">Hotspot Wifi</a></h1>
            </div>
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">
                    <li  class="active">
                      <a href="#"><i class="fas fa-user-shield"></i>&nbsp;Admin</a>
                    </li>
                    <li><a href="/create"><i class="fas fa-sign-out-alt"></i>&nbsp;Create User</a></li>
                    <li><a href="/reconfigure"><i class="fas fa-sign-out-alt"></i>&nbsp;Reconfigure parameters</a></li>
                    <li><a href="/delete"><i class="fas fa-sign-out-alt"></i>&nbsp;Delete user</a></li>
                    <li><a href="/"><i class="fas fa-sign-out-alt"></i>&nbsp;Log out</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>Admin</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li class="active"><a href="#">Admin</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span4">
          <div class="span8">
            <article>
              <div class="row">
                <div class="span8">
                  <div class="post-image">
                    <div class="post-heading">
                      <h3><a href="#user-state" id="user-state">Changes</a></h3>
                    </div>
                  </div>
                  <p id="newchange">
                  </p>

            </article>

            <article>
              <div class="row">
                <div class="span8">
                  <div class="post-image">
                    <div class="post-heading">
                      <h3><a href="#user-state" id="user-state">Device of interest</a></h3>
                    </div>
                  </div>
                  <table class="table table-striped" >
                      <thead>
                        <tr>
                          <th>MAC User</th>
                          <th>State</th>
                        </tr>
                      </thead>
                      {% for i in users %}
                      <tbody>
                      <tr>
                        <td>{{i[0]}}</td>
                        <td id='{{i[0]}}'>{{i[1]}}</td>
                      </tr>
                    </tbody>
                    {% endfor %}
                    </table>
                </div>
              </div>
            </article>

          </div>
        </div>
      </div>
    </section>

    <footer>
        <div class="container">
          <div class="row">
            <div class="span4">
              <div class="widget">
                <div class="footer_logo">
                  <h3><a href="#"> Hotspot Wifi</a></h3>
                </div>
                <address>
                  <strong>Polytechnic University of Catalonia.</strong><br>
                  Av. de les Bases de Manresa, 61-73. <br>
                  08242 Manresa
                </address>
                <p>
                   (+34) 93 877 72 00  <br>
                </p>
              </div>
            </div>
            <div class="span4">
              <div class="widget">
                <h5 class="widgetheading">Other information</h5>
                <ul class="link-list">
                  <li><a href="#">Ivan Chamero</a></li>
                  <li><a href="#">Manuel Ángel Román</a></li>
                </ul>
              </div>
            </div>
            <div class="span4">
              <div class="widget">
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="sub-footer">
          <div class="container">
            <div class="row">
              <div class="span6">
                <div class="credits">
                Created by our group</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <script src="/static/js/functions.js"></script>
      <script>
        setInterval("checkChanges()",5000);
      </script>
</body>
</html>
